body {
    background-color: rgb(237,237,237);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.main_header {
    width: 100%;
    height: 30px;
    background-color: white;
}

.header_links {
    float: right;
}

